// Override Cayman theme colors
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ed3cfa !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #155799 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Import the Cayman theme's default styles after overriding variables
@import "jekyll-theme-cayman";

// Add alternate row shading for tables
table {
  width: 100%;
  border-collapse: collapse;
}

table tr:nth-child(odd) {
  background-color: #f9f9f9; /* Light gray for odd rows */
}

table tr:nth-child(even) {
  background-color: #ffffff; /* White for even rows */
}

table th,
table td {
  padding: 8px;
  border: 1px solid $table-border-color;
}

/* Remove default triangle for <details> and <summary> across all devices */
details summary {
  list-style: none;
  cursor: pointer;
}

details summary::-webkit-details-marker {
  display: none; /* Removes the default triangle in WebKit-based browsers (Chrome, Safari) */
}

details summary::marker {
  display: none; /* Removes the default triangle in Firefox and other browsers */
}
