---
---

@import "custom";
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

/* Custom styles for header title link */
h1.project-name a {
  color: white;      /* Make the text white */
  text-decoration: none; /* Remove underline */
}

h1.project-name a:hover {
  text-decoration: none; /* Prevent underline on hover */
}
