---
---

@import "custom";
@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;900&family=Playfair+Display:wght@700&display=swap');

body {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 500;
}

/* Apply Red Hat Display font in bold to all titles and headlines */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 900;
}

/* Custom styles for header title link */
h1.project-name a {
  color: black;           /* Make the text white */
  text-decoration: none;  /* Remove underline */
}

h1.project-name a:hover {
  text-decoration: none;  /* Prevent underline on hover */
}

/* Custom styles for header title link */
.btn {
  color: #000;           /* Make the text white */
  text-decoration: none;  /* Remove underline */
}

